body {
    
    background-color: rgb(228, 228, 250);
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellowgreen;
    text-align: center;
}

h3 {
    color: navy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


